{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load core_tags %}

{% block subtitle %} {{ request.user }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary mb-3 sticky-right"
                onclick="window.location.href='{% url 'admins:category-create' %}'">
            Add Category
        </button>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    {% if object_list %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>PK</th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Thumbnail</th>
                                <th>Description</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>
                                    <a href="{% url 'admins:category-update' object.pk %}">
                                        {{ object.name }}
                                    </a>
                                </td>
                                <td>{{ object.slug }}</td>
                                <td>
                                    {% if object.thumbnail %}
                                        <img src="{{ object.thumbnail.url }}" alt="Thumbnail" style="width: 30px; height: auto;" class="rounded">
                                    {% else %}
                                        <span>No Image</span>
                                    {% endif %}
                                </td>
                                <td>{{ object.description|truncatewords:6 }}</td>
                                <td>{{ object.created_at|date:"Y-m-d" }}</td>
                                <th>
                                    <a href="{% url 'admins:category-update' object.pk %}">
                                        <i class="fa fa-edit"></i>
                                    </a> &nbsp;
                                    <a href="{% url 'admins:category-delete' object.pk %}" class="text-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <p class="text-danger mb-0"><b>No categories available</b></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <ul class="pagination">
                    {% if category_list.has_previous %}
                        <li>
                            <span>
                                <a href="{% relative_url category_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ category_list.number }} of {{ category_list.paginator.num_pages }}.</span>
                    </li>
                    {% if category_list.has_next %}
                        <li>
                            <span>
                                <a href="{% relative_url category_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
