{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block subtitle %} {{ request.user }} {% endblock %}

{% block content %}
<div class="container">
    <h1>Create Content Rating</h1>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Create Content Rating</button>
        <br>
    </form>

    <a href="{% url 'admins:content-rating-list' %}" class="btn btn-secondary mt-2">Back to Content Rating List</a>
</div>
{% endblock %}
