{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load core_tags %}
{% block subtitle %} {{ request.user }} {% endblock %}

{% block content %}
    <div class="row justify-content-between">
        <div class="col-6 col-md-4 p-2 mt-2">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control " placeholder="Enter Drama Series Title"
                           id="id_title"
                           value="{% if drama_series_filter.title.value %}{{ drama_series_filter.title.value }}{% endif %}"
                           name="title">
                    <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
                    <a class="btn btn-danger" href="{% url 'admins:drama-list' %}">
                        <i class="fas fa-brush"></i>
                    </a>
                </div>

            </form>
        </div>
        <div class="col-4 mt-0 pt-0 mb-2 d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-primary mb-1"
                    onclick="window.location.href='{% url 'admins:drama-create' %}'">
                Add Drama
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% if object_list %}
                    {% for object in object_list %}
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="card shadow-lg rounded-lg">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-4">
                                            <div class="avatar-md">
                                                {% if object.poster_image %}
                                                    <img src="{{ object.poster_image.url }}" alt="NO IMAGE"
                                                         class="img-fluid rounded-circle object-fit-cover"
                                                         style="width: 100%; height: 100%; aspect-ratio: 1/1; object-fit: cover;"/>
                                                {% else %}
                                                    <img src="{% static 'noimage.jpg' %}" alt="NO IMAGE"
                                                         class="img-fluid rounded-circle object-fit-cover"
                                                         style="width: 100%; height: 100%; aspect-ratio: 1/1; object-fit: cover;"/>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="flex-grow-1 overflow-hidden px-3">
                                            <h5 class="text-truncate font-size-15"><a
                                                    href="{% url 'admins:drama-detail' object.slug %}"
                                                    class="text-dark">{{ object.title }}</a>
                                            </h5>
                                            <p class="text-muted mb-4">{{ object.description|slice:50 }}...</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="row px-3">
                                    <h6 class="px-3 pt-1">Tags:</h6>
                                    {% for tag in object.drama_tags.all %}
                                        <div>
                                            <span class="badge bg-primary text-white">{{ tag.tag.name }}</span>&nbsp;&nbsp;
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="row px-3">
                                    <h6 class="px-3 pt-1">Categories:</h6>
                                    {% for cat in object.drama_category.all %}
                                        <div>
                                            <span class="badge bg-danger text-white">{{ cat.category.name }}</span>&nbsp;&nbsp;
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="row px-3">
                                    <h6 class="px-3 pt-1">Cast:</h6>
                                    {% if object.drama_cast.exists %}
                                        {% for cast in object.drama_cast.all %}
                                            <div class="avatar-group-item ms-1">
                                                <a href="javascript: void(0);" class="d-inline-block">
                                                    {% if cast.actor.profile_image %}
                                                        <img src="{{ cast.actor.profile_image.url }}"
                                                             alt="{{ cast.actor.name }}"
                                                             class="rounded-circle avatar-xs">
                                                    {% else %}
                                                        <!-- Default image if actor has no profile image -->
                                                        <img src="{% static 'noimage.jpg' %}" alt="No Image"
                                                             class="rounded-circle avatar-xs">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>No cast members available</p>
                                    {% endif %}
                                </div>
                                <div class=" py-3 ">
                                    <ul class="mb-0">
                                        {% if object.is_featured %}
                                            <li class="list-inline-item me-3">
                                                <span class="badge bg-success">Featured</span>
                                            </li>
                                        {% else %}
                                            <li class="list-inline-item me-3">
                                                <span class="badge bg-danger">Not Featured</span>
                                            </li>
                                        {% endif %}
                                        <li class="list-inline-item me-3">
                                            <i class="bx bx-calendar me-1"></i> {{ object.release_date|date:"Y-m-d" }}
                                        </li>
                                        <li class="list-inline-item me-3">
                                            <i class="bx bx-low-vision me-1"></i> {{ object.drama_reviews.count }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="row mt-4 p-2 mt-2">
                                    <div class="col-6">
                                        <a href="{% url 'admins:drama-update' object.slug %}" data-bs-toggle="modal"
                                           class="btn btn-warning w-100 ">Edit</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'admins:drama-detail' object.slug %}" data-bs-toggle="modal"
                                           class="btn btn-danger w-100">Details</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            <b>No dramas available</b>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li class="page-link rounded">
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;
                    <li class="page-link rounded">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    &nbsp;&nbsp;&nbsp;
                    {% if object_list.has_next %}
                        <li class="page-link rounded">
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

