{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load core_tags %}

{% block subtitle %} {{ request.user }} {% endblock %}

{% block content %}
<div class="row justify-content-between">
    <div class="col-6 col-md-4 p-2 mt-2">
        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control " placeholder="Enter language Name"
                       id="id_tag" name="name" aria-describedby="search-button">
                <button class="btn btn-secondary" type="submit" id="search-button">
                    <i class="fas fa-search"></i>
                </button>
                <a href="{% url 'admins:language-list' %}" class="btn btn-danger ml-2" id="clear-button">
                    <i class="fas fa-brush"></i>
                </a>


            </div>
        </form>
    </div>
    <div class="col-4 mt-0 pt-0 mb-2 d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-primary mb-1"
                onclick="window.location.href='{% url 'admins:language-create' %}'">
            Add Language
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class=" shadow-lg card">
                    {% if object_list %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>PK</th>
                                <th>Language Name</th>
                                <th>Language Code</th>
                                <th>Created At</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>
                                    <a href="{% url 'admins:language-update' object.pk %}">
                                        {{ object.name }}
                                    </a>
                                </td>
                                <td>{{ object.code }}</td>
                                <td>{{ object.created_at|date:"Y-m-d" }}</td>
                                <th>
                                    <a href="{% url 'admins:language-update' object.pk %}">
                                        <i class="fa fa-edit"></i>
                                    </a> &nbsp;
                                    <a href="{% url 'admins:language-delete' object.pk %}" class="text-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="card-body">
                        <p class="text-danger mb-0"><b>No languages available</b></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


 <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li class="page-link rounded">
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;
                    <li  class="page-link rounded">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    &nbsp;&nbsp;&nbsp;
                    {% if object_list.has_next %}
                        <li class="page-link rounded">
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
