{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <h1>Add Season to {{ object.series.title }}</h1>  <!-- Displaying the drama series title -->

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|crispy }}  <!-- Use Crispy Forms for better layout -->

        <button type="submit" class="btn btn-primary">Add Season</button>
        <a href="{% url 'admins:drama-detail' slug=object.slug %}" class="btn btn-secondary ">Cancel</a>
    </form>
</div>
{% endblock %}
